[build]
  command = "npm run build"
  publish = "dist"

[functions]
  directory = "netlify/functions"
  included_files = ["netlify/functions/certs/*"]

[dev]
  command = "npm run dev"
  targetPort = 3000
  port = 8888
  publish = "dist"
